@import url('https://fonts.google.com/specimen/Montserrat');

*{
margin: 0;
padding: 0;
box-sizing: border-box;
text-decoration: none;
border: none;
outline: none;
scroll-behavior: smooth;
font-family: 'Montserrat', sans-serif;
}
:root {
    --bg-color: #1f242d;
    --second-bg-color: #323946;
    --text-color: #fff;
    --main-color:#00c9b8;
}
html {
    font-size: 62.5%;
    overflow-x: hidden;
}
body {
  background: var(--second-bg-color);
  color: var(--text-color);
    
  }
/* .home {
    padding-right: 50px;
} */

.header{
    width: 100%;
    justify-content: space-between;
    display: flex;
    padding: 10px;
    background-color: var(--bg-color);
    /* align-items: center; */
}

.header h2{
    font-size: 28px;
    margin-left: 590px;

}
.header a{
    border: 5px solid var(--main-color); 
    font-size: 16px;
    padding: 10px;
    color: var(--text-color);
    border-radius: 2rem;
    margin-right: 30px;
}
.header a:hover{
    border: 5px solid var(--main-color); 
    font-size: 16px;
    padding: 10px;
    color: var(--text-color);
}
/* Award Cards Container */
.home-container {
    /* padding-left: 6rem; */
  
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
    margin-left: 30rem;
    margin-bottom: 30px;
    margin-top: 20px;
}
/* .home h2{
    margin-top: 5rem;
    margin-left: 56rem;
    font-size: 32px;
    color: #ffffff;
} */

.home-card {
    flex: 0 0 calc(25% - 2px);
    border-radius: 2rem;
    padding-top: 15px;
    text-align: center;
    background-color:var(--bg-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden; 
    border: 5px solid var(--main-color);
}


.home-card img {
    width: 90%; 
    height: 200px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.home-card a{
    margin-bottom: 40px;
    font-size: 20px;
    color: var(--text-color);
}