@import url('https://fonts.google.com/specimen/Montserrat');

*{
margin: 0;
padding: 0;
box-sizing: border-box;
text-decoration: none;
border: none;
outline: none;
font-family: 'Montserrat', sans-serif;
}
:root {
    --bg-color: #1f242d;
    --second-bg-color: #323946;
    --text-color: #fff;
    --main-color:#00c9b8;
}
html {
    font-size: 62.5%;
    overflow-x: hidden;
}
body {
  background: var(--second-bg-color);
  color: var(--text-color);
  display: flex;
 align-items: center;
justify-content: center;
height: 100vh; /* Set the height of the body to 100% of the viewport height */
margin: 0;
    
}
.login{
    background: var(--bg-color);
    align-items: center;
    text-align: center;
    border: 5px solid var(--main-color);
    padding: 60PX;
    border-radius: 20px;
}
.login h2{
    font-size: 32px;
    margin-bottom: 30px;
    color: var(--main-color);
}

form {
    max-width: 300px; /* Set a maximum width for the form */
    margin: auto; /* Center the form horizontally within its container */
}

/* input {
    background: var(--second-bg-color);
    display: block; 
    margin-bottom: 8px; 
    border: 2px solid var(--main-color);
} */

input {
    background: var(--second-bg-color);
    display: block; 
    border-radius: 10px;
    border: 5px solid var(--main-color);
    width: 100%;
    padding: 15px; 
    margin-bottom: 16px;
    box-sizing: border-box; 
    text-align: center;
    color: var(--text-color);
    font-size: 24px;
}
input::placeholder {
    color: var(--text-color);
  }

button {
    background-color:var(--main-color);
    color: var(--bg-color);
    padding: 10px 15px;
    border: 2px solid var(--main-color);
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
}

button:hover {
    background-color:#888888 ;
}