@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Quicksand:wght@400;500;600;700&display=swap');

*{
margin: 0;
padding: 0;
box-sizing: border-box;
text-decoration: none;
border: none;
outline: none;
font-family: 'Lato', sans-serif;
}
:root {
--bg-color: #2d3033;
--second-bg-color: #1f2022;
--text-color: #f8f9fa;
--main-color:#0ef;
}
html {
    font-size: 62.5%;
    overflow-x: hidden;
}
body {
  background: var(--bg-color);
  color: var(--text-color);
    
  }

.container{
    margin-top: 40px;
    font-size: 16px;
}
.container h1{
    margin-left: 140px;
    margin-bottom: 20px;
}
table {
    width: 80%;
    border-collapse: collapse;
    margin: auto;
}

th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: var(--second-bg-color);
}

tr:nth-child(even) {
    background-color: var(--second-bg-color);
}
.btn.btn-primary.btn-sm{
    color: var(--main-color);
}