@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Quicksand:wght@400;500;600;700&display=swap');

*{
margin: 0;
padding: 0;
box-sizing: border-box;
text-decoration: none;
border: none;
outline: none;
font-family: 'Lato', sans-serif;
}
:root {
  --bg-color: #4d4d4d;
  --second-bg-color: #000000;
  --text-color: #f8f9fa;
  --main-color:green;
}
html {
    font-size: 62.5%;
    overflow-x: hidden;
}
body {
  background: var(--second-bg-color);
  color: var(--text-color);
    
}
.message{
  /* align-item:center; */
  display:flex;
  margin-left:45rem;
  margin-top:25rem;
  font-size:30px;
}
.bx.bx-check{
  color:var(--main-color);
  
}